@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    overflow-x: hidden;
}

header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

#imagem_cabecalho{
    width: 6%;
}

#modal{
    width: 40%;
    height: 60%
    padding: 12% 6%;
    background-color: #FFF;
    display: none;
    flex-direction: column;
}

.links-cabecalho{
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: bold;
    font-weight: 600;
}

.conteudo-pagina01{
    padding: 4%;
    display: flex;
    gap: 12%;
    background-image: url("./assets/background_1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.imagem_principal{
    width: 36%;
    border: 0.8rem solid black;
}

.imagens_logos{
    display: flex;
}

#pato-quebrado{
    width: 16em;
}

.slogan{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: bold;
    color: white;
    font-size: 2rem;
    padding: 0% 24%;
}

.conteudo-pagina02{
    padding-top: 4%;
}

.conteudo-pagina02_titulo{
    text-align: center;
    font-size: 3.6rem;
    font-family: "Poppins", sans-serif;
    font-style: bold;
    font-weight: 600;
}

.conteudo-pagina02_carrosel{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4.8%;
    padding: 8%;
}

.conteudo-pagina02_carrosel_fotos1{
    width: 72%;
}

.conteudo-pagina02_carrosel_fotos2{
    width: 72%;
    display: none;
    
}

.conteudo-pagina02_carrosel_fotos3{
    width: 72%;
    display: none;
}

.conteudo-pagina03{
    background-image: url("./assets/background_03.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4.8%;
}

.conteudo-pagina03_titulo{
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: bold;
    font-weight: 600;
    text-align: center;
    font-size: 2.8rem;
    padding: 0% 32%;
}

.conteudo-pagina03_aulas{
    text-align: center;
}

#aulas{
    width: 16%;
    padding: 12%;
}

footer{
    padding: 4% 0%;
    background-color: #142147;
    text-align: center;
}

.rodape {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 4%;
    padding-bottom: 4%;
}

.imagem_rodape{
    width: 12rem;
}

.rodape_imagem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape_imagem_redes{
    display: flex;
    gap: 8%;
}

#pato_rodape{
    width: 9.6rem;
}

h3{
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: bold;
    font-weight: 600;
}