@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    box-sizing: border-box;
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

main{
    display: flex;
    justify-content: center;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    text-align: center;
    width: 70%;
}

section img:nth-child(1){
    width: 46%;
}

section img:nth-child(2){
    width: 40%;
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    color: white;
    font-size: 180%;
    padding: 8%;
    text-align: center;
}

mark{
    background-color: transparent;
    color: #142147;
}
